/*---General---*/



body {
    max-width: 480px;
    background-color: #fff;
    margin: 0;
    color: black;
    font-family: "Raleway";
}

p {
    font-size: 1em;
}

main {
    margin: 1em;
}

a{
 text-decoration: none;
color: white;
}

/*---Header---*/



header {
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 0;
    margin-top: 0
}

header h1 {
    margin-right: 20px;
    margin-left: 10px;
}

nav a {
    margin-right: 10px;
    color: white;
    font-weight: 300;
}

/*---Banner---*/



.banner {
    position: relative;
}

.banner-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-content h1 {
    position: absolute;
    z-index: 1;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    font-weight: 600;
    font-size: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner-content img {
    width: 100%;
    height: auto;
}

/*---Boutons---*/

.btn {
    background-color: cadetblue;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 800;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.01);
}

.btn:hover{
    background-color: #48a5c2
}


/*---Page d'accueil---*/

.choix_cours li {
    display: flex;
}
.choix_cours ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 3em;
}
